main {
    height: 100vh;
    width: 100%;
}

main h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

main input {
    background-color: #e6e6e6;
    border: 1px solid;
    height: 2rem;
}

main textarea {
    background-color: #e6e6e6;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5rem 20rem;
    border: var(--cinza);
    border-style: solid;
    height: 80%;
}

main section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

main section .name-age {
    display: flex;
    width: 100%;
}

main section .formulario {
    width: 100%;
}

main section .name-age .formulario #name-wolf{
    width: 30rem;
}

main section .name-age .formulario #age {
    width: 5rem;
    margin-left: 2rem;
}

main section .formulario #link-image {
    width: 37.5rem;
}

main section .formulario textarea {
    width: 37.5rem;
    height: 10rem;
}

main section button {
    cursor: pointer;
    background-color: #2C5680;
    height: 3rem;
    width: 8rem;
    border: none;
    color: var(--branco);
}