/***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */

 header nav {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header nav a {
    min-height: 40px;
    color: var(--cinza);
    font-size: 1.875rem;
    font-weight: bold;
    text-decoration: none;
}

header nav .text-header::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cinza);
    display: block;
    transition: 400ms;
}

header nav .text-header:last-child::after{
    float: right;
}

header nav .text-header:hover::after {
    width: 100%;
}

/***
*    ------------   --------     --------   ------------ ------------ -----------  
*    ************  **********   **********  ************ ************ ***********  
*    ----         ----    ---- ----    ---- ------------ ----         ----    ---  
*    ************ ***      *** ***      ***     ****     ************ *********    
*    ------------ ---      --- ---      ---     ----     ------------ ---------    
*    ****         ****    **** ****    ****     ****     ****         ****  ****   
*    ----          ----------   ----------      ----     ------------ ----   ----  
*    ****           ********     ********       ****     ************ ****    **** 
*                                                                                  
*/

footer {
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .container {
    display: flex;
    align-items: center;
}

footer .container .map {
    background-color: var(--branco);
    width: 20rem;
    height: 12rem;
}

footer .container .contacts {
    margin: 1rem 4rem;
    height: 14.8rem;
}

footer .container .contacts ul li{
    display: flex;
    margin: 2rem 0;
}

footer .container .contacts ul li p {
    max-width: 25rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--branco);
    font-weight: 600;
}

footer .container .contacts a {
    font-size: 1.5rem;
    padding: .3rem;
    background-color: var(--amarelo);
    color: var(--cinza);
    text-decoration: none;
    font-weight: 700;
}

footer .paws {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .paws h2{
    color: var(--branco);
    font-size: 2rem;
    margin: 2rem 0;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
main .wolf-cards {
    background-color: var(--branco);
}


main .wolf-cards .text-with-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
}

main .wolf-cards .text-with-image figure {
    background-color: var(--azul-escuro);
    border: var(--cinza);
    border-style: solid;
    width: 24rem;
    height: 20rem;
}

main .wolf-cards img {
    width: 24rem;
    height: 20rem;

    margin-left: 1rem;
    margin-top: 1rem;
}

main .wolf-cards .text-with-image .wolf-cards-text {
    margin-top: 1rem;
    margin-left: 4rem;
    width: 30rem;
    flex-direction: column;
    text-align: left;
    font-family: var(--preto);
}

main .wolf-cards .text-with-image .wolf-cards-text h2 {
    font-size: 2.25rem;
    font-weight: 700;
}

main .wolf-cards .text-with-image .wolf-cards-text h3{
    margin: 1rem 0;
    font-weight: 700;
}

main .wolf-cards .text-with-image .wolf-cards-text p {
    font-size: 1.5rem;
    font-weight: 500;
}

.hidden {
    display: none;
}