
/***
 *      ********      ------    --------  ----    ---- 
 *     ----------    ********   ********  *****   **** 
 *    ************  ----------    ----    ------  ---- 
 *    ---  --  --- ****    ****   ****    ************ 
 *    ***  **  *** ------------   ----    ------------ 
 *    ---  --  --- ************   ****    ****  ****** 
 *    ***  **  *** ----    ---- --------  ----   ----- 
 *    ---      --- ****    **** ********  ****    **** 
 *                                                     
 */

 main .first-section {
    height: 31.25rem;
    background-image: url("../assets/foto_lobo1.png");
    background-size: 87.5rem 31.25rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--branco);
}

main .first-section h1 {
    font-size: 6rem;
    font-weight: 700;

    line-height: 1.5;
}

main .first-section h1::after {
    content: "";
    width: 10%;
    height: 4px;
    background-color: var(--branco);
    display: block;

    margin: 0 auto;
}

main .first-section p {
    padding: 1.2rem 0 3.2rem 0;
    font-size: 1.875rem;
    font-weight: 500;
    max-width: 41.521rem;

    text-align: center;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

main .second-section {
    background-color: var(--azul-escuro);
    height: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 2rem;
}

main .subtitle {
    color: var(--amarelo);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

main .second-section p {
    font-size: 1.5rem;
    color: var(--branco);
    text-align: center;

    max-width: 59.518rem;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

main .third-section {
    height: 35rem;
    background-color: var(--cinza);

    display: flex;
    flex-direction: column;
    align-items: center;

}
main .third-section ul {
    width: 80%;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    margin-top: 2rem;
}

main .third-section figure {
    background-color: var(--branco);
    border-radius: 50%;
    padding: 1.2rem;
    max-width: 8rem;
    height: 8rem;
}

main .third-section ul li {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .third-section ul li h2 {
    font-size: 2.125rem;
    text-align: center;
    font-weight: 700;
    color: var(--branco);
    padding: 2rem;
}

main .third-section ul p {
    font-size: 1.25rem;
    color: var(--branco);
    text-align: center;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

main .wolf-cards :nth-child(3) .text-with-image{
    flex-direction: row-reverse;
}

main .wolf-cards :nth-child(3) img{
    margin-left: -1rem;
}

main .wolf-cards :nth-child(3) .wolf-cards-text{
    margin-left: 0;
    margin-right: 4rem;
    text-align: right;
}