main section{

    height: 8rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

main section .wolf-search {
    cursor: pointer;
    background-color: var(--branco);
    border: .1rem solid var(--preto);
    border-right: none;
}

main section .wolf-search img {
    height: 1.9rem;
}

main section input {
    width: 70%;
    height: 2rem;

    border: .1rem solid var(--preto);
    border-left: none;
}

main section .add-wolf {
    height: 2.3rem;
    width: 6rem;
    margin-left: 1.2rem;
    background-color: var(--amarelo);
    border: none;
    font-size: 1.5rem;
    color: var(--branco);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .wolf-cards {
    background-color: var(--branco);
    flex-direction: column;
    height: 100%;
}

main .wolf-cards :nth-child(2n) .text-with-image{
    flex-direction: row-reverse;
}

main .wolf-cards :nth-child(2n) img{
    margin-left: -1rem;
}

main .wolf-cards :nth-child(2n) .wolf-cards-text{
    margin-left: 0;
    margin-right: 4rem;
    text-align: right;
}

main .list-pages div {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

main .list-pages .button-pages{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main .list-pages .button-pages .button-page{
    background-color: var(--azul-escuro);
    height: 3rem;
    width: 4rem;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: var(--branco);
    cursor: pointer;

    transition: 400ms;
}

main .list-pages .button-pages .button-page:hover{

    background-color: var(--azul);
}