main {
    height: 55.2vh;
}

main section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 50rem;
    margin: 0 auto;
}

main h1 {
    font-family: 'Roboto', sans-serif;

    font-weight: 700;
    font-size: 3rem;
}

main h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

main::after {
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    z-index: 1;
}